.application {
  position: relative;

  padding-top: 35px;
  padding-bottom: 9px;

  background-color: $color-bg;

  @include desktop-width {
    padding-bottom: 70px;
  }

  @include media-tabl {
    padding-bottom: 90px;
  }
}

.application__wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;

  @include desktop-1170 {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.application__title {
  margin-bottom: 3px;

  @include desktop-width {
    margin-bottom: 24px;
  }

  @include tabl-580 {
    margin-bottom: 0;
  }
}

.application__btn {
  min-width: 467px;
  min-height: 70px;
  margin-top: 10px;

  @include media-tabl {
    min-width: 320px;
  }
}

.application__timer {
  width: 571px;
  height: 130px;
  color: $color-black;

  margin-top: 9px;
  margin-left: -13px;

  @include tabl-580 {
    margin-left: 0;

    display: flex;
    justify-content: center; /* Центрируем таймер */
    overflow: hidden;
    height: auto;
  }
}

.application__timer div {
  @include tabl-580 {
    transform: scale(0.8) !important;
    transform-origin: center center;
  }

  @media (width <= 480px) {
    transform: scale(0.7) !important;
  }

  @media (width <= 400px) {
    transform: scale(0.6) !important;
  }

  @media (width <= 360px) {
    transform: scale(0.5) !important;
  }
}
