.benefit {
  justify-content: space-between;
}
.benefit__icon {
  @include icon-wrapp(12px);

  &::before {
    @include icon(28px, 28px);
    background-color: $color-black;
    border-radius: 50%;
    flex-shrink: 0;
  }
}

.benefit__icon--benifit::before {
  background-image: url(../../img/svg/pricetags.svg);

  background-size: 18px 18px;
}

.benefit__icon--kasko::before {
  background-image: url(../../img/svg/shield.svg);

  background-size: 16px 16px;
}

.benefit__icon--gift::before {
  background-image: url(../../img/svg/gift.svg);

  background-size: 18px 18px;
}

.benefit__icon--wallet::before {
  background-image: url(../../img/svg/wallet.svg);

  background-size: 15px 13px;
}

.benefit__icon--winter::before {
  background-image: url(../../img/svg/winter.svg);

  background-size: 18px 18px;
}

.benefit__item {
  max-width: 231px;
}
