.button {
  box-sizing: border-box;

  @include btn-reset;

  display: block;
  padding: 22px 23px 17px;

  @include font($size: 16px, $weight: 500);

  text-transform: uppercase;

  background-color: $color-accent;
  border: 1px solid transparent;
  cursor: pointer;

  transition: all 0.3s ease-out;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid $color-accent;
    outline-offset: 3px;
  }

  &:hover {
    background-color: $color-white;
    color: $color-accent;
  }

  &:active {
    opacity: 0.7;
  }
}
