.button {
  box-sizing: border-box;
  @include btn-reset;
  display: block;
  padding: 22px 23px 17px 23px;

  @include font($size: 16px, $weight: 500);
  text-transform: uppercase;

  background-color: $color-accent;
  border: 1px solid transparent;
  cursor: pointer;
}
