.cards {
  padding-top: 55px;
  padding-bottom: 19px;
}

.cards__list {
  @include list-reset;
  margin-left: -12px; // подгонка под макет
  display: flex;
  gap: 31px;

  @include desktop-1170 {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
  }
}
