.header {
  background-color: $color-black;
}

.header__wrapper {
  padding-top: 12px;
  padding-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__tel {
  @include font($size: 15px, $weight: 500);
  color: $color-white;
  text-decoration: none;

  max-width: 250px;

  @include icon-wrapp(10px);

  &::before {
    @include icon(21px, 24px);
    background-image: url(../../img/svg/tel.svg);
  }

  @include interactive;
}

.header__address {
  max-width: 450px;
  font-style: normal;

  color: $color-white;

  @include icon-wrapp(10px);

  &::before {
    @include icon(17px, 28px);
    background-image: url(../../img/svg/addr.svg);
  }

  &--13 {
    font-size: 13px;
  }
}

.header__nav {
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid $color-white-20;
}

.header__list {
  @include list-reset;
  max-width: 650px;
  display: flex;
  gap: 14px;
}

.header__wrapp-btn {
  max-width: 450px;
  display: flex;
  gap: 13px;
}

.header__btn {
  @include btn-reset;
  @include font($size: 11px);
cursor: pointer;
    @include interactive;
}

.header__link {
  @include interactive;
}
