.hero {
  min-height: 751px;

  background-color: $color-black;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../img/hero/hero-bg-1x.webp);
}

.hero__container {
  box-sizing: border-box;
  padding-top: 57px;
  padding-bottom: 63px;
}

.hero__btn {
margin: 0 auto;
}

.hero__title {
  text-align: left;
  margin-bottom: 23px;
  padding: 20px 124px 9px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 62%,
    rgba(0, 0, 0, 0)
  );
}
