@mixin font($size, $line-height: 120%, $weight: 400, $color: $color-white) {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-base;
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
}

@mixin list-reset($padd-left: 0) {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: $padd-left;
  list-style: none;
}

@mixin btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}

@mixin icon-wrapp($gap) {
  display: flex;
  gap: $gap;
  align-items: center;
}

@mixin icon($width, $height) {
  display: block;
  content: "";
  width: $width;
  height: $height;

  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

@mixin interactive {
  position: relative;

  &::after {
    @include hover-line;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid currentColor;
    outline-offset: 3px;
  }

  &:hover::after {
    transform: scaleX(1);
  }

  &:active {
    opacity: 0.7;
  }
}

// @mixin media-desktop {
//   @media (max-width: $desktop-width) {
//     @content;
//   }
// }

@mixin desktop-width {
  @media (max-width: $desktop-width) {
    @content;
  }
}

@mixin desktop-1170 {
  @media (max-width: $desktop-1170) {
    @content;
  }
}

@mixin media-tabl {
  @media (max-width: $tabl-width) {
    @content;
  }
}

@mixin tabl-580 {
  @media (max-width: $tabl-580) {
    @content;
  }
}

// @mixin media-mobile {
//   @media (max-width: $mobile-width) {
//     @content;
//   }
// }

@mixin hover-line($bg-color: currentColor) {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $bg-color;
  bottom: -5px;
  left: 0;
}
