// FONTS

$font-base: "Haval", arial, sans-serif;

// COLORS
$color-black: #000000;
$color-border: #e9e9e9;
$color-border-card: #cccccc;

// -------
$color-white: #ffffff;
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-70: rgba(255, 255, 255, 0.7);

// -------
$color-accent: #00cabf;
$color-bg: #f3f3f3;
$color-avto1: #adadad;
$color-avto2: #e7e7e7;
$color-avto3: #a13a21;

// -------

// WIDTH
$max-width: 1170px;
$desktop-width: 1440px;
$desktop-1170: 1170px;
$tabl-width: 500px;
$tabl-580: 580px;
$mobile-width: 320px;
